/*-- scss:defaults --*/
// Font imports
@import url('https://fonts.googleapis.com/css2?family=Fira+Code&family=Merriweather:ital,wght@0,400;1,400;1,700&display=swap');

// Color palette
$primary-color: #003366;
$h2-color: #336699;
$h3-color: #336699;
$h4-color: #336699;
$h5-color: #336699;
$h6-color: #336699;

/*-- scss:rules --*/
// Base styles
body {
  font-family: 'Merriweather', serif;
  font-size: 16px;
  line-height: 1.6;
  color: #222;
  background-color: #fff;
  padding: 2rem;
}

.figure-caption {
    font-style: italic;
    color: #E0115F;
    }


// Code styling
code, pre {
  font-family: 'Fira Code', monospace;
  background-color: #f5f5f5;
  padding: 0.2em 0.4em;
  border-radius: 4px;
  font-size: 0.95em;
}

// Headings
h1 {
  color: $primary-color;
  font-family: 'Merriweather', serif;
  font-weight: bold;
}

.title h1 {
  color: $primary-color;
  font-family: 'Merriweather', serif;
  font-weight: bold;
  text-decoration: none;
  font-size: 24px;
}

h2 {
  color: $h2-color;
  font-family: 'Merriweather', serif;
  font-weight: bold;
}

h3 {
  color: $h3-color;
  font-family: 'Merriweather', serif;
  font-weight: bold;
}

h4 {
  color: $h4-color;
  font-family: 'Merriweather', serif;
  font-weight: bold;
}

h5 {
  color: $h5-color;
  font-family: 'Merriweather', serif;
  font-weight: bold;
}

h6 {
  color: $h6-color;
  font-family: 'Merriweather', serif;
  font-weight: bold;
}
